apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: mtta
spec:
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: swaroops2803/mtta_frontend:v1
          env:
            # - name: REACT_APP_API_URL
            #   value: http://backend-service:8080
            - name: REACT_APP_API_URL
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: REACT_APP_API_URL
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
          ports:
            - containerPort: 80
